<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Multi-Physics Interaction Laboratory</h1>
            <hr>
            <p> Welcome to the Multi-Physics Interaction Lab at the University of Waterloo. Started in 2016, our research focuses on high fidelity numerical simulations of flows, which are characterized by a strong interaction between thermodynamics, acoustics and/or chemical kinetics. Using a broad toolbox in computational physics, but primarily relying on Large-Eddy (LES) and Direct Numerical Simulations (DNS), we study the interaction between these physical phenomena in canonical flows using first-principle based approaches. The objective is to understand the coupling mechanisms and improve the predictive models for engineering use. Typical problems studied are: thermosensitive cavitation, supercritical thermodynamics, transcritical heat transfer, thermoacoustics, and transitional high-speed flows. Our expertise lies the field of rocket propulsion but finds complementary tangencies in aerospace, nuclear and automotive engineering.  </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
