<section class="bg-primary" id="people">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">MPILAB Team</h2>
              <hr class="light">
              <p class="text-faded"></p>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row no-gutter">
         #STUDENT
          <div class="col-lg-10 col-sm-4">
              <a href="#" class="portfolio-box">
                  <img src="img/Hickey_headshot.jpg" class="img-responsive circular--landscape img" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Jean-Pierre Hickey
                          </div>
                          <div class="project-name">
                              Assistant Professor
                          </div>
                      </div>
                    </div>
              </a>
          </div>

          <div class="col-lg-2 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="img/Hickey_headshot.jpg" class="img-responsive circular--landscape img" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Jean-Pierre Hickey
                          </div>
                          <div class="project-name">

                          </div>
                      </div>
                  </div>
              </a>
          </div>

      </div>
  </div>
</section>
<section class="bg-primary" id="researchArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research Areas</h2>
                <hr class="light">
                <p class="text-faded">We are active!</p>
                <a href="#" class="btn btn-default btn-xl">                            Assistant Professor
                                            j6hickey@uwaterloo.ca
                                            Email:  jean-pierre.hickey@uwaterloo.ca
                                            Phone: 519-888-4567 x 30452
                                            Office: ERC 2003</a>
            </div>
        </div>
    </div>
</section>
